<%= render 'books/list', book: @book, user: @user %>
      <div class="col-md-8 offset-md-1">
        <h2>Users</h2>
        <table>
          <thead>
            <th width="123" heigth="50">image</th>
            <th width="240" heigth="50">name</th>
            <th width="150" heigth="50"></th>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :image, :fill, 60, 60, fallback:"no_image.jpg",  format: 'jpeg' %></td>
              <td><%= user.name %></td>
              <td><%= link_to 'Show', user_path(user.id) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>